body{
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to left,rgb(146, 135, 135),white);
}
  

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .stopwatch {
    width: 100rem;
  }
  
  .display {
    text-align: center;
    margin-bottom: 10px;
  }
  
  #time {
    font-size: 10rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  button {
    font-size: larger;
    padding: 20px;
    margin-right: 5px;
    border: 5px solid gray;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.2s;
  }
  button:hover{
    opacity: 1;
    border-color: rgb(168, 109, 1);
  }
  
  #laps {
    list-style-type: none;
    padding: 0;
    font-size: 5rem;
  }
  
  #laps li {
    margin-bottom: 5px;
  }